<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Consult</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>
	
<script type="text/javascript" src="/js/commonCode.js"></script>

<script type="text/javascript" src="/js/common.js"></script>

<script th:inline="javascript">
    var user_list = [[${user_list}]];
    var grade = [[${grade}]];
    var manager = [[${user_id}]];
    var user_id = [[${user_id}]];
</script>

<script th:inline="javascript">
$(document).ready(function(){
	createSelectOption(user_list, "modal_manager", "user_id", "user_nm");
	if(grade == "10" || grade == "99"){
		$("#user").show();
		$("#team").show();
		$("#goods").show();
	}else{
		$("#user").hide();
		$("#team").hide();
		$("#excel_down").hide();
		$("#saveBtn").hide();
		$("#delBtn").hide();
		$("#goods").hide();
	}
	$("#db-list").addClass('active');
	$("#team").removeClass('active');
	$("#user").removeClass('active');
	$("#dbAdmin").removeClass('active');
	$("#this_name").text(user_id+"님");
});
$("#cnt_sum").change(function(){
	
})
</script>

</head>

<body>
	<body th:replace="admin/header :: mainHead"> </body>

	<div class="container">
		<form id="search" name="search">
			<div class="row mt-3 mb-3">
				<div class="col-3 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-sm">시작일</span>
					</div>
					<input type="date" id="srh_sta_date" class="form-control srh_sta_date" th:value="${search.getSrh_sta_date()}"  placeholder="YYYYMMDD">
				</div>
				<div class="col-3 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-sm">종료일</span>
					</div>
					<input type="date" id="srh_end_date" class="form-control srh_end_date" th:value="${search.getSrh_end_date()}" placeholder="YYYYMMDD">
				</div>
				<div class="col-3 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-sm">검색어</span>
					</div>
					<input type="text" id="srh_key" class="form-control srh_key" th:value="${search.getSrh_key()}">
				</div>
				<div class="col-3 text-right">
					<div class="btn-group mw-100" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary pr-4 pl-4" onclick="gotoPage(1)">조회</button>
						<button type="button" class="btn btn-secondary w-35" onclick="reset()">리셋</button>
					</div>
				</div>
			</div>
		</form>
		<div class="row"> 
			<div class="col-12 mb-1" style="text-align:right;"><a id="excel_down" onclick="excelDown();"><button type="button" class="btn btn-secondary">엑셀다운로드</button></a></div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" class="print">등록번호</th>
					<th scope="col">접수일자</th>
					<th scope="col">출처</th>
					<th scope="col">고객명</th>
					<th scope="col">연락처</th>
					<th scope="col">문의사항</th>
					<th scope="col">담당자</th>
					<th scope="col" class="print">성별</th>
					<th scope="col" class="print">나이</th>
					<th scope="col" class="print">상담내용</th>
					<th scope="col" class="print">주소</th>
					<th scope="col" class="print">주문일</th>
					<th scope="col" >재고</th>
					<th scope="col">주문수량</th>
					<th scope="col">금액</th>
					<th scope="col" class="print">계좌번호</th>
					<th scope="col" class="print">카드번호</th>
					<th scope="col" class="print">유효기간</th>
					<th scope="col" >제품명</th>
					<th scope="col" >구매상태</th>
					<th scope="col" >콜성공률</th>
				</tr>
			</thead>
			<tbody class="">
				<tr th:id="db_+${db.seq}" th:each="db, stat: ${list}"
					data-toggle="modal" data-target="#detailModal">
					<td class="seq print" th:text="${db.getSeq()}">등록번호</td>
					<td class="reg_date" th:text="${#strings.substring(db.getReg_date(), 0, 16)}">신청일</td>
					<td class="site" th:text="${db.getSite()}">출처</td>
					<td class="cust_nm" th:text="${db.getCust_nm()}">고객명</td>
					<td class="cust_tel" th:text="${db.getCust_tel()}">연락처</td>
					<td class="comment" th:text="${db.getComment()}">문의사항</td>
					<td class="manager" style="display:none;" th:text="${db.getManager()}">담당자</td>
					<td class="manager_nm" th:text="${db.getManager_nm()}">담당자</td>
					<td class="gender print" th:text="${db.getGender()}">성별</td>
					<td class="age print" th:text="${db.getAge()}">나이</td>
					<td class="memo print" th:text="${db.getMemo()}">상담내용</td>
					<td class="addr print" th:text="${db.getAddr()}">주소</td>
					<td class="order_date print" th:text="${db.getOrder_date()}">주문일</td>
					<td class="cnt_sum " th:text="${db.getInp_cnt()}">재고</td>
					<td class="order_cnt" th:text="${db.getOrder_cnt()}">수량</td>
					<td class="order_amount" th:text="${db.getOrder_amount()}">금액</td>
					<td class="bank_account print" th:text="${db.getBank_account()}">계좌번호</td>
					<td class="card_number print" th:text="${db.getCard_number()}">카드번호</td>
					<td class="expire_date print" th:text="${db.getExpire_date()}">유효기간</td>
					<td class="following_date print"
						th:text="${db.getFollowing_date()}">구매접촉일</td>
					<td class="gd_cd " th:text="${db.getGd_cd()}">제품명</td>
					<td class="gd_buyType " th:text="${db.getGd_buyType()}">구매상태</td>
					<td class="call_succRate " th:text="${db.getCall_succRate()}">콜성공률</td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination"></ul>
		</nav>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">제품문의 DB</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="request" id="request">
					<div class="modal-body">
						<div class="row">
							<div class="col-3">
								<label for="modal_seq">순번</label> <input type="text"
									id="modal_seq" name="seq" class="form-control seq" readonly />
							</div>
							<div class="col-5">
								<label for="modal_reg_date">신청일시</label> <input type="text"
									id="modal_reg_date" name="reg_date"
									class="form-control reg_date" readonly />
							</div>
							<div class="col-4">
								<label for="modal_site">출처</label> <input type="text"
									id="modal_site" name="site"
									class="form-control site" readonly />
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="modal_cust_nm">고객명</label> <input type="text"
									id="modal_cust_nm" name="cust_nm" class="form-control cust_nm"
									readonly />
							</div>
							<div class="col-6">
								<label for="modal_cust_nm">연락처</label> <input type="text"
									id="modal_cust_tel" name="cust_tel"
									class="form-control cust_tel" />
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="modal_gender">성별</label> <input type="text"
									id="modal_gender" name="gender" class="form-control gender" />
							</div>
							<div class="col-6">
								<label for="modal_age">나이</label> <input type="text"
									id="modal_age" name="age" class="form-control age" />
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="modal_comment">문의내용</label>
								<textarea id="modal_comment" name="comment"
									class="form-control comment"></textarea>
							</div>
						</div>
						</br>
						<div class="row">
							<div class="col-6">
								<label for="modal_manager">담당자</label> 
								<select id="modal_manager" name="manager" class="form-control" onchange="setManagerName(this.value)"></select>
								<input type="hidden" id="modal_manager_nm" name="manager_nm" class="manager_nm"/>
							</div>
							<div class="col-6">
								<label for="modal_following_date">접촉일</label> <input type="text"
									id="modal_following_date" name="following_date"
									class="form-control following_date" />
							</div>
							<div class="col-8">
								<label for="modal_cnt_sum">재고</label> <input type="text"
									id="modal_cnt_sum" name="cnt_sum"
									class="form-control cnt_sum"  readonly/>
							</div>
						</div>
						
						<div class="row">
							<div class="col-6">
								<label for="modal_order_cnt">주문수량</label> <input type="text"
									id="modal_order_cnt" name="order_cnt"
									class="form-control order_cnt" onblur="setCnt()"/>
							</div>
							<div class="col-6">
								<label for="modal_order_amount">금액</label> <input type="text"
									id="modal_order_amount" name="order_amount"
									class="form-control order_amount" />
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="modal_addr">주소</label> <input type="text"
									id="modal_addr" name="addr" class="form-control addr" />
							</div>
							<div class="col-12">
								<label for="modal_memo">상담메모</label>
								<textarea id="modal_memo" name="memo" class="form-control memo"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="modal_bank_account">계좌번호</label> <input type="text"
									id="modal_bank_account" name="bank_account"
									class="form-control bank_account" />
							</div>
							<div class="col-8">
								<label for="modal_card_number">카드번호</label> <input type="text"
									id="modal_card_number" name="card_number"
									class="form-control card_number" />
							</div>
							<div class="col-4">
								<label for="modal_expire_date">유효기간</label> <input type="text"
									id="modal_expire_date" name="expire_date"
									class="form-control expire_date" />
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="modal_gd_cd">제품명</label> <input type="text"
									id="modal_gd_cd" name="gd_cd"
									class="form-control gd_cd" />
							</div>
							
						</div>
						<div class="row">
							<div class="col-12">
								<label for="modal_gd_buyType">구매상태</label> <input type="text"
									id="modal_gd_buyType" name="gd_buyType"
									class="form-control gd_buyType" />
							</div>
							<div class="col-8">
								<label for="modal_call_succRate">콜성공률</label> <input type="text"
									id="modal_call_succRate" name="call_succRate"
									class="form-control call_succRate" />
							</div>
						</div>
					</div>
				</form>
				<div class="modal-footer">
<!-- 					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button> -->
					<button type="button" class="btn btn-primary" id="saveBtn" onclick="saveDb();">저장</button>
					<button type="button" class="btn btn-danger" id="delBtn" onclick="deleteDb();">삭제</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		/*<![CDATA[*/
		var total_pages = "[[${total_pages}]]";
		var start_page = Number("[[${start_page}]]");
		console.log("total_pages", total_pages);
		console.log("start_page", start_page);
		$(function() {
			window.pagObj = $('#pagination').twbsPagination({
				totalPages : total_pages, // 총 페이지 수
				startPage : start_page, //현재 시작페이지
				visiblePages : 5,
				first : "처음",
				prev : "이전",
				next : "다음",
				last : "마지막",

				onPageClick : function(event, page) {
					console.info(page + ' (from options)');
				}
			}).on('page', function(event, page) {
				gotoPage(page);
				console.info(page + ' (from event listening)');
			});
		});

		function gotoPage(page) {
			var srh_sta_date = $("#srh_sta_date").val();
			console.log("srh_sta_date : ", srh_sta_date);
			srh_sta_date = srh_sta_date.replace(/[\-\.]/g, "");
			var srh_end_date = $("#srh_end_date").val();
			srh_end_date = srh_end_date.replace(/[\-\.]/g, "");

			var srh_key = $("#srh_key").val();
			window.location.href = "/admin/db-list?page=" + page 
					+ "&srh_sta_date=" + srh_sta_date 
					+ "&srh_end_date=" + srh_end_date
					+ "&srh_key=" + srh_key;
		}
		
		$('#detailModal').on('hidden.bs.modal', function () {
			  location.reload();
			})
			
		$('#detailModal').on('shown.bs.modal', function(e) {
			var id_obj = e.relatedTarget;
			console.log("modal : ", id_obj);
			var seq = $(id_obj).find(".seq").text();
			var reg_date = $(id_obj).find(".reg_date").text();
			var cust_nm = $(id_obj).find(".cust_nm").text();
			var cust_tel = $(id_obj).find(".cust_tel").text();
			var gender = $(id_obj).find(".gender").text();
			var age = $(id_obj).find(".age").text();
			var following_date = $(id_obj).find(".following_date").text();
			var bank_account = $(id_obj).find(".bank_account").text();
			var card_number = $(id_obj).find(".card_number").text();
			var comment = $(id_obj).find(".comment").text();
			var manager = $(id_obj).find(".manager").text();
			var order_cnt = $(id_obj).find(".order_cnt").text();
			var addr = $(id_obj).find(".addr").text();
			var memo = $(id_obj).find(".memo").text();
			var order_amount = $(id_obj).find(".order_amount").text();
			var card_number = $(id_obj).find(".card_number").text();
			var expire_date = $(id_obj).find(".expire_date").text();
			var site = $(id_obj).find(".site").text();
			var gd_cd = $(id_obj).find(".gdcd").text();
			var gd_buyType = $(id_obj).find(".gd_buyType").text();
			var cnt_sum = $(id_obj).find(".cnt_sum").text();
			var call_succRate = $(id_obj).find(".call_succRate").text();
			$("#modal_seq").val(seq);
			$("#modal_reg_date").val(reg_date);
			$("#modal_cust_nm").val(cust_nm);
			$("#modal_cust_tel").val(cust_tel);
			$("#modal_gender").val(gender);
			$("#modal_age").val(age);
			$("#modal_following_date").val(following_date);
			$("#modal_bank_account").val(bank_account);
			$("#modal_card_number").val(card_number);
			$("#modal_comment").val(comment);
			$("#modal_manager").val(manager);
			$("#modal_order_cnt").val(order_cnt);
			$("#modal_addr").val(addr);
			$("#modal_memo").val(memo);
			$("#modal_addr").val(addr);
			$("#modal_order_amount").val(order_amount);
			$("#modal_card_number").val(card_number);
			$("#modal_expire_date").val(expire_date);
			$("#modal_gd_cd").val(gd_cd);
			$("#modal_gd_buyType").val(gd_buyType);
			$("#modal_cnt_sum").val(cnt_sum);
			$("#modal_call_succRate").val(call_succRate);
			
			$("#modal_site").val(site);

		});

		function saveDb() {
			var dbObj = $("#request").serializeObject();
			
			$.post("/admin/updateDb", dbObj, function(data) {
				if (data == "1" || data == 1) {
					alert("저장되었습니다.");
				}

			}).done(function() {
				console.log("dbObj : ", dbObj);
				var id = "#db_" + dbObj.seq;
				$.each(dbObj, function(key, value) {
					$(id + " ." + key).text(value);
				});

			}).fail(function() {
				alert("저장이 실패되었습니다.\n다시 시도하세요.");
			});
		}
		
		function deleteDb(){
			var dbObj = $("#request").serializeObject();

			$.post("/admin/deleteDb", dbObj, function(data) {

			}).done(function() {
				
				alert("삭제되었습니다.");
				$('#detailModal').hide();
				location.reload();
				
				
				console.log("dbObj : ", dbObj);
				var id = "#db_" + dbObj.seq;
				$.each(dbObj, function(key, value) {
					$(id + " ." + key).text(value);
				});

			}).fail(function() {
				alert("저장이 실패되었습니다.\n다시 시도하세요.");
			});
		}
		
	
		function setManagerName(id){
			console.log("id : ", id);
			$.each(user_list, function(idx, item){
	
				console.log(" user_nm : ", item.user_nm);
				if(item.user_id == id){
					console.log(" id : ", id, item.user_nm);
					$("#modal_manager_nm").val(item.user_nm);
				}
			});
		}
		
		function excelDown(){
						
			var srh_sta_date = $("#srh_sta_date").val();
			srh_sta_date = srh_sta_date.replace(/[\-\.]/g, "");
			var srh_end_date = $("#srh_end_date").val();
			srh_end_date = srh_end_date.replace(/[\-\.]/g, "");

			var srh_key = $("#srh_key").val();
			
			var url = "/download/woori-db.xlsx?srh_sta_date="+srh_sta_date+"&srh_end_date="+srh_end_date+"&srh_key="+srh_key;
			$("#excel_down").attr("href", url);
			$("#excel_down").get(0).click();
			
			
		}
		
		function reset(){
			$("#srh_sta_date").val("");
			$("#srh_end_date").val("");
			$("#srh_key").val("");
		}
		
		function setCnt(){
			var order_cnt = $("#modal_order_cnt").val();
			console.log("order_cnt : ", order_cnt);
			var cnt;
			$.post("/admin/selectCnt", {"order_cnt": order_cnt}, function(data) {
				console.log(data);
				cnt = data;
			}).done(function() {
				$(".cnt_sum").val(cnt);
			}).fail(function() {
				alert("오류발생. 조회실패");
			});
		}
	</script>
</body>
</html>
