<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head>
<title>dbAdmin</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script th:inline="javascript">
	
	var manager = [[${user_id}]];
    var grade = [[${grade}]];
    var cnt_list = [[${cnt_list}]];
    var amt_list = [[${amt_list}]];
    var call_list = [[${call_list}]];

  
</script>

<script type="text/javascript">

google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawCntChart);
google.charts.setOnLoadCallback(drawAmtChart);
google.charts.setOnLoadCallback(drawCallChart);

//종합판매건수 순위차트 그리기
function drawCntChart(first_value, start_value, end_value) {
	$("#chart_Cnt_div").empty();
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'name');
	data.addColumn('number', 'count');
	var cnt_manager = new Array();
	var arr = new Array();
	for(var i=0; i<5; i++){
		arr.push([cnt_list[i].manager,parseInt(cnt_list[i].order_cnt)])
	}
	data.addRows(arr);

	var options = {
		title: '판매건수실적',
		width: '100%',
		height: '100%',
		hAxis: {title: '사원명'
				},
		vAxis: {title: '계약건수',
				viewWindow: {
                				min: 0
            				},
            	textStyle: {
            					fontSize: 10,
                                bold: true,
                                italic : false
                              }
				},
        legend: {position: 'none'}
	}
	var chart = new google.visualization.ColumnChart(document.getElementById('chart_Cnt_div'));
	chart.draw(data, options);
};

//종합판매금액 순위 차트그리기
function drawAmtChart(){
	$("#chart_Amount_div").empty();			
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'name');
	data.addColumn('number', 'amount');
	var arr = new Array();
	for(var i=0; i<5; i++){
		arr.push([amt_list[i].manager,parseInt(amt_list[i].order_amount)])
	}
	data.addRows(arr);

	var options = {
				title: '판매금액실적',
				width: '100%',
				height: '100%',
				padding : {
			        left : 0,
			        right : 0	
			        //bottom : 50
			    },
				hAxis: {title: '사원명'
						},
				vAxis: {title: '판매액',
						textRotate : 0,
						viewWindow: {
		                				min: 0
		            				}
						},
		        legend: {position: 'none'}
	}
	var chart = new google.visualization.ColumnChart(document.getElementById('chart_Amount_div'));
	chart.draw(data, options);
}

//종합콜건수 순위 차트그리기
function drawCallChart(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'name');
	data.addColumn('number', 'call_cnt');
	var arr = new Array();
	for(var i=0; i<5; i++){
		arr.push([call_list[i].manager,parseInt(call_list[i].call_cnt)])
	}
	data.addRows(arr);

	var options = {
				title: '콜건수실적',
				width: '100%',
				height: '100%',
				hAxis: {title: '사원명'
						},
				vAxis: {title: '콜건수',
						viewWindow: {
		                				min: 0
		            				}
						},
		        legend: {position: 'none'}
	}
	var chart = new google.visualization.ColumnChart(document.getElementById('chart_Call_div'));
	chart.draw(data, options);
};
	
var this_data = null;
$(document).ready(function(){
	if(grade == "10" || grade == "99"){
		$("#user").show();
		$("#team").show();
		$("#goods").show();
	}else{
		$("#user").hide();
		$("#team").hide();
		$("#saveBtn").hide();
		$("#delBtn").hide();
		$("#goods").hide();
	}
	$("#dbAdmin").addClass('active');
	$("#team").removeClass('active');
	$("#user").removeClass('active');
	$("#db-list").removeClass('active');
	$("#this_name").text(manager+"님");
	$("#detail_date").hide();
	createTb();
});
</script>

</head>

<body>
	<body th:replace="admin/header :: mainHead"> </body>
	<div class="container">
		<h3 class="mt-3">업적현황</h3>
  		<div class="row mt-3">
			<div class="col-2">
				<select class="form-control" name="기간" id="firstSelect" onchange="optSelect(this)" aria-label=".form-select-lg example">
					<option value="전체" selected="selected">전체</option>
  					<option value="이번달" >이번달</option>
  					<option value="올해" >올해</option>
  					<option value="직접입력">직접입력</option>
				</select>
			</div>
			<div class="col-7" id="detail_date">
				<div class="row">
					<div class="col-6 input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">시작일</span>
						</div>
						<input type="date" id="srh_sta_date" class="form-control srh_sta_date"  placeholder="YYYYMMDD">
					</div>
					<div class="col-6 input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">종료일</span>
						</div>
						<input type="date" id="srh_end_date" class="form-control srh_end_date" placeholder="YYYYMMDD">
					</div>
				</div>
			</div>
			<div class="col-3" >
					<div class="btn-group mw-100" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary pr-4 pl-4" onclick="change_Date()">조회</button>
					</div>
			</div>
		</div>
	<br/>
	<div class="row">
		<div id="chart_Cnt_div" class="col-4"></div>
		<div id="chart_Amount_div" class="col-4"></div>
		<div id="chart_Call_div" class="col-4"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-4">
			<span class="center">판매 건수 순위</span>
			<table class="table table-hover table-condensed">
				<thead class="thead-light">
					<tr>
						<th scope="col">순위</th>
						<th scope="col">사원명</th>
						<th scope="col">판매건수</th>
					</tr>
				</thead>
				<tbody id="cnt_table">
				</tbody>
			</table>
		</div>
		<div class="col-4">
			<span class="center">판매 금액 순위</span>
			<table class="table table-hover table-condensed">
				<thead class="thead-light">
					<tr>
						<th scope="col">순위</th>
						<th scope="col">사원명</th>
						<th scope="col">판매금액(원)</th>
					</tr>
				</thead>
				<tbody id="amt_table">
				</tbody>
			</table>
		</div>
		<div class="col-4">
			<span class="center">콜 성공 순위</span>
			<table class="table table-hover table-condensed">
				<thead class="thead-light">
					<tr>
						<th scope="col">순위</th>
						<th scope="col">사원명</th>
						<th scope="col">콜건수</th>
					</tr>
				</thead>
				<tbody id="call_table">
				</tbody>
			</table>
		</div>
	</div>
<br/>

<!-- 라디오 연, 월, 일 ,사용자지정 / 각각에 맞는 셀렉트 박스 / 사용자 선택 / 전체 , 조직원..... 
		<div style="margin-left:10%">
			<h2 style="display:inline-block">최근 주문이력조회</h2>
			<div style="display:inline-block;align:right">
				<select name="기간" id="firstSelect" onchange="optSelect(this)">
  					<option value="1개월">1개월</option>
  					<option value="1년">1년</option>
  					<option value="사용자지정">사용자설정</option>
  					<option value="전체" selected="selected">전체</option>
				</select>
			</div>
			<div style="display:inline-block;align:right" >
				<input type="text" name="사용자설정" placeholder="ex)yyyy-mm-dd" id="ctm_date"/>
				<select name="자세한기간" id="secondSelect" onchange="categoryChange(this)">
					<option selected="selected">세부기간선택</option>
				</select>
			</div>
		</div>
		<div id="chart_div" style="margin-left:0"></div>
-->
	</div>
	
<script type= "text/javascript">

function optSelect(e){

	var target = document.getElementById("secondSelect");

	if(e.value == "이번달"){
		$("#detail_date").hide();
	}else if(e.value == "올해"){
		$("#detail_date").hide();
	}else if(e.value == "직접입력"){ 
		$("#detail_date").show();
	}else if(e.value == "전체"){
		$("#detail_date").hide();
	}

}

function change_Date(){
	this_data = null;
	var first_value = $("#firstSelect").val();
	var srh_sta_date = $("#srh_sta_date").val();
	var srh_end_date = $("#srh_end_date").val();
	cnt_list = null;
    amt_list = null;
    call_list = null;
	if(first_value == "직접입력" && (srh_sta_date == null || srh_sta_date == "" || srh_end_date == null || srh_end_date == "")){
		alert("세부정보를 입력해주세요");
		return;
	}
	let today = new Date();
	if(first_value == "이번달"){
		var this_year = today.getFullYear().toString();
		srh_sta_date = this_year+"01"+"01";
		srh_end_date = "9999-12-31";
	}else if(first_value == "올해"){
		var this_month = (today.getMonth()+1).toString();
		if(this_month<10){
			this_month = "0"+this_month;
		}
		var this_year = today.getFullYear().toString();
		srh_sta_date = this_year+this_month+"01";
		srh_end_date = "9999-12-31";
	}
	
	var dbObj = {};
	if(srh_sta_date != "" && srh_end_date != ""){
		console.log("srh_sta_date : ", srh_sta_date);
		srh_sta_date = srh_sta_date.replace(/[\-\.]/g, "");
		srh_end_date = srh_end_date.replace(/[\-\.]/g, "");
	}
	dbObj["srh_sta_date"] = srh_sta_date;
	dbObj["srh_end_date"] =  srh_end_date;
	dbObj["first_value"] =  first_value;
	$.post("/admin/selectRankList", dbObj, function(data) {
		console.log(data)
	    this_data = data;
	}).done(function() {
		cnt_list = this_data.cnt_list;
	    amt_list = this_data.amt_list;
	    call_list = this_data.call_list;
	    drawCntChart();
		drawAmtChart();
		drawCallChart();
		createTb()
	});
}

function createTb(){
	$("#cnt_table").empty();
	$("#amt_table").empty();
	$("#call_table").empty();
	var cnt_html = null;
	var amt_html = null;
	var call_html = null;
	var cnt_length = cnt_list.length;
	var amt_length = amt_list.length;
	var call_length = call_list.length;
	var min = Math.min(cnt_length, amt_length, call_length);
	for(var i=0;i<min; i++){
		if(i == 0){
			cnt_html = "<tr><td>"+(i+1)+"</td><td>"+cnt_list[i].manager+"</td><td>"+cnt_list[i].order_cnt+"</td></tr>";
			amt_html = "<tr><td>"+(i+1)+"</td><td>"+amt_list[i].manager+"</td><td>"+amt_list[i].order_amount+"</td></tr>";
			call_html = "<tr><td>"+(i+1)+"</td><td>"+call_list[i].manager+"</td><td>"+call_list[i].call_cnt+"</td></tr>";
		}else{
			cnt_html += "<tr><td>"+(i+1)+"</td><td>"+cnt_list[i].manager+"</td><td>"+cnt_list[i].order_cnt+"</td></tr>";
			amt_html += "<tr><td>"+(i+1)+"</td><td>"+amt_list[i].manager+"</td><td>"+amt_list[i].order_amount+"</td></tr>";
			call_html += "<tr><td>"+(i+1)+"</td><td>"+call_list[i].manager+"</td><td>"+call_list[i].call_cnt+"</td></tr>";
		}
	};
	$("#cnt_table").prepend(cnt_html);
	$("#amt_table").prepend(amt_html);
	$("#call_table").prepend(call_html);
	
}

</script>
</body>
