<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>goods</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>
<script th:inline="javascript">
var user_id = [[${user_id}]];
var list = [[${list}]];
var gd_list = new Array();
for(var i=0; i<list.length; i++){
	gd_list.push(list[i].gdnm);
}
$(document).ready(function(){
	
	$("#goods").addClass('active');
	$("#dbAdmin").removeClass('active');
	$("#user").removeClass('active');
	$("#db-list").removeClass('active');
	$("#team").removeClass('active');
	$("#this_name").text(user_id+"님");
	$("#newYn").val("");
});

</script>

</head>

<body>

<body th:replace="admin/header :: mainHead"> </body>

<div class="container">
	<div class="row mt-3">
		<div class="col-6">
			<h3>상품목록</h3>
		</div>
		<div class="col-4">
			<h3>상품입고</h3>
		</div>
		<div class="col-2 text-right">
			<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#detailModal" onclick="newYn()">입고</button>	
		</div>
	</div>

	<div class="row  mb-3">
		<div class="col-6">
			<table id="teamTb" class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th scope="col" class="text-center" >상품코드</th>
						<th scope="col" class="text-center">상품명</th>
						<th scope="col" class="text-center">누적재고량</th>
					</tr>
				</thead>
				<tbody id="goodsTb">
					<tr th:id="db_+${db.gdcd}" th:each="db, stat: ${list}"
					data-toggle="modal" onclick="showGoodsDt()">
						<td id="thisGdcd" class="gdcd text-center" th:text="${db.getGdcd()}">상품코드</td>
						<td class="gdnm text-center" th:text="${db.getGdnm()}">상품명</td>
						<td class="cnt_sum text-center" th:text="${db.getCnt_sum()}">누적재고량</td>
					</tr>
				</tbody>
			</table>	
		
		
		</div>
		<div class="col-6">
			<table id="teamTb" class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th scope="col" class="text-center" >입고일</th>
						<th scope="col" class="text-center" >입고량</th>
						<th scope="col" class="text-center">메모</th>
						<th scope="col" class="text-center print">순번</th>
						<input type="hidden" id="newYn"/>
					</tr>
				</thead>
				<tbody id="goodsDtTb">

				</tbody>
			</table>
		</div>
	</div>
	
	
	
	<!-- Modal -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">입고 DB</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="request" id="request">
					<div class="modal-body">
						<div class="row">
							<div class="col-3" style="display:block">
								<label for="modal_gdcd">상품명</label> 
								<select id="modal_gdcd" name="gdcd" class="form-control gdnm">
									<option value="001">킹포스</option>
								</select>
							</div>
							<div class="col-5">
								<label for="modal_inp_cnt">상품갯수</label> <input type="text"
									id="modal_inp_cnt" name="inp_cnt"
									class="form-control inp_cnt" />
							</div>
							<div class="col-5">
								<label for="modal_gd_memo">메모</label> <input type="text"
									id="modal_gd_memo" name="gd_memo"
									class="form-control gd_memo" />
							</div>
							<input type="hidden" id="modal_gdcd" name="gdcd" class="form-control gdcd" />
							<input type="hidden" id="modal_seq" name="seq" class="form-control seq" readonly/>
							<input type="hidden" id="modal_id" name="mod_id" class="form-control mod_id" />
						</div>
					</div>
				</form>
				<div class="modal-footer">
<!-- 					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button> -->
					<button type="button" class="btn btn-primary" id="saveBtn" onclick="saveDb();">저장</button>
					<button type="button" class="btn btn-danger" id="delBtn" onclick="deleteDb();">삭제</button>
				</div>
			</div>
		</div>
	</div>

</div>



	<script type="text/javascript">
	$(function() {

	});
	$('#detailModal').on('shown.bs.modal', function(e) {
		var id_obj = e.relatedTarget;
		console.log("modal : ", id_obj);
		var gdcd = $(id_obj).find("#gdcd").text();
		var reg_date = $(id_obj).find("#reg_date").text();
		var inp_cnt = $(id_obj).find("#inp_cnt").text();
		var seq = $(id_obj).find("#seq").text();
		var gd_memo = $(id_obj).find("#gd_memo").text();
		console.log("reg_date : ", reg_date);
		console.log("inp_cnt : ", inp_cnt);
		$("#modal_gdcd").val(gdcd);
		$("#modal_req_date").val(reg_date);
		$("#modal_inp_cnt").val(inp_cnt);
		$("#modal_gdcd").val();
		$("#modal_seq").val(seq);
		$("#modal_id").val(user_id);
		$("#modal_gd_memo").val(gd_memo);
		if($("#newYn").val() == "1"){
			$("#modal_seq").val(0);
			$("#modal_seq").text(0);
		}
	});
	$('#detailModal').on('hidden.bs.modal', function () {
		  $("#newYn").val("");
	});
		function newYn(){
			$("#newYn").val("1");	
		};
		
		function saveDb() {
			var dbObj = $("#request").serializeObject();
			dbObj.gdcd = $('#modal_gdcd').val();
			console.log("dbObj :", dbObj)
			var newYn = $("#newYn").val();
			if(newYn == "1"){
				$.post("/admin/insertGoodsDb", dbObj, function(data) {

				}) .done(function() {
					console.log("dbObj : ", dbObj);
					alert("저장이 완료되었습니다")
					location.reload();
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});
			}else {
				$.post("/admin/updateGoodsDb", dbObj, function(data) {
					if (data != null) {
						alert("저장되었습니다.");
						location.reload();
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});
			}
		}

		
		
		function deleteDb(){
			var dbObj = $("#request").serializeObject();
			delete dbObj.gdcd;

			$.post("/admin/deleteGoodsDb", dbObj, function(data) {
					alert("삭제되었습니다.");
					location.reload();	
			}).done(function() {
				console.log("dbObj : ", dbObj);
				var id = "#db_" + dbObj.seq;
				$.each(dbObj, function(key, value) {
					$(id + " ." + key).text(value);
				});

			}).fail(function() {
				alert("삭제가 실패되었습니다.\n다시 시도하세요.");
			});
		}
		
		function showGoodsDt(){
			var gdcd = $("#thisGdcd").text();
			var list;
			$.post("/admin/goodsDt", {"gdcd" : gdcd}, function(data) {
				list = data;
			}).done(function() {
				console.log(list);
				var strhtml = null;
				for(var i=0; i<list.length; i++){
					strhtml += "<tr id='db_"+i+"' data-toggle='modal' data-target='#detailModal' onclick=''>";
					strhtml +=	"<td class='gdcd text-center' style='display:none' id='gdcd'>"+list[i].gdcd+"</td>";
					strhtml +=	"<td class='reg_date text-center' id='reg_date'>"+list[i].reg_date+"</td>";
					strhtml +=  "<td class='inp_cnt text-center' id='inp_cnt'>"+list[i].inp_cnt+"</td>";
					strhtml +=	"<td class='gd_memo text-center' id='gd_memo'>"+list[i].gd_memo+"</td>";
					strhtml += "<td class='seq text-center print' id='seq'>"+list[i].seq+"</td>";
					strhtml +=  "</tr>";
				}
				$("#goodsDtTb").html(strhtml);
			}).fail(function() {
				alert("조회가 실패되었습니다.\n다시 시도하세요.");
			});

		}
		
		function setGdnm(id){
			console.log("id : ", id);
			$.each(gd_list, function(idx, item){
	
				console.log(" gdnm : ", item.gdnm);
				if(item.user_id == id){
					console.log(" id : ", id, item.gdnm);
					$("#modal_gdnm").val(item.gdnm);
				}
			});
		}
	</script>


</body>
