<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>header</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>
	
</head>

<body th:fragment="mainHead">
		<!-- Just an image -->
	<nav class="navbar navbar-expand-sm navbar-right navbar-dark bg-primary" style="margin-bottom:50px;">
		<a class="navbar-brand" href="#" style="margin-right:100px;" >우리무역</a>
		<ul class="nav navbar-nav mr-auto text-right"> 
			<li class ="nav-item" id="dbAdmin"><a class="nav-link" href="/admin/dbAdmin">업적현황</a></li>
			<li class="nav-item" id="user" ><a class="nav-link" href="/admin/user">사용자관리</a></li>
			<li class="nav-item" id="team" ><a class="nav-link" href="/admin/team">조직관리</a></li>
			<li class="nav-item" id="db-list" ><a class="nav-link" href="/admin/db-list">상품문의/판매</a></li>
			<li class="nav-item" id="goods" ><a class="nav-link" href="/admin/goods">입고관리</a></li>
		</ul>
		
		
		<span class="nav-link"><a class="text-light" id="this_name"></a></span>
		<span class="nav-link" id="logout" ><a class="btn btn-primary" href="/logout">로그아웃</a></span>
	</nav>
	
</body>