<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:replace="admin/header :: mainHead"> </body>
<head>
<title>team</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>


</head>

<body>
<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" class="print">등록번호</th>
					<th scope="col" class="print">팀명</th>
					<th scope="col" class="print">팀장</th>
				</tr>
			</thead>
			<tbody id="teamTb">
				<tr th:id="db_+${db.seq}" th:each="db, stat: ${list}"
				data-toggle="modal" data-target="#detailModal">
					<td class="seq print" th:text="${db.getSeq()}">등록번호</td>
					<td class="team_nm print" th:text="${db.getTeam_nm()}">팀명</td>
					<td class="leader_nm print" th:text="${db.getLeader_nm()}">팀장</td>
				</tr>
			</tbody>
		</table>
		<div class="footer">
			<button type="button" class="btn btn-primary pull-right" onclick="addTeam()">팀등록</button>	
		</div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">팀 수정</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="request" id="request">
					<div class="modal-body">
						<div class="row">
							<div class="col-3">
								<label for="modal_seq">등록번호</label> <input type="text"
									id="modal_seq" name="seq" class="form-control seq" readonly />
							</div>
							<div class="col-5">
								<label for="modal_team_nm">팀명</label> <input type="text"
									id="modal_team_nm" name="team_nm"
									class="form-control team_nm" readonly />
							</div>
							<div class="col-4">
								<label for="modal_leader_nm">팀장</label> <input type="text"
									id="modal_leader_nm" name="leader_nm"
									class="form-control leader_nm" readonly />
							</div>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="saveDb();">저장</button>
					<button type="button" class="btn btn-primary" onclick="deleteDb();">삭제</button>
				</div>
			</div>
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="detailNewModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">팀 추가</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="request" id="request">
					<div class="modal-body">
						<div class="row">
							<div class="col-3">
								<label for="modal_seq">등록번호</label> <input type="text"
									id="modal_seq" name="seq" class="form-control seq" readonly />
							</div>
							<div class="col-5">
								<label for="modal_team_nm">팀명</label> <input type="text"
									id="modal_team_nm" name="team_nm"
									class="form-control team_nm" readonly />
							</div>
							<div class="col-4">
								<label for="modal_leader_nm">팀장</label> <input type="text"
									id="modal_leader_nm" name="leader_nm"
									class="form-control leader_nm" readonly />
							</div>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="saveNewDb();">저장</button>
					<button type="button" class="btn btn-primary" onclick="deleteDb();">삭제</button>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">

		$('#detailModal').on('shown.bs.modal', function(e) {
			var id_obj = e.relatedTarget;
			console.log("modal : ", id_obj);
			var seq = $(id_obj).find(".seq").text();
			var team_nm = $(id_obj).find(".team_nm").text();
			var leader_nm = $(id_obj).find(".leader_nm").text();

			$("#modal_seq").val(seq);
			$("#modal_team_nm").val(team_nm);
			$("#modal_leader_nm").val(leader_nm);

		}); 
		
		function addTeam(){
			$('#detailNewModal').on('shown.bs.modal');
		}
		function saveDb() {
			var dbObj = $("#request").serializeObject();
			
				$.post("/admin/updateTeamDb", dbObj, function(data) {
					if (data == "1" || data == 1) {
						alert("저장되었습니다.");
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});
			
		}
		
		function saveNewDb() {
			var dbObj = $("#request").serializeObject();
			
				$.post("/admin/insertTeamDb", dbObj, function(data) {
					if (data == "1" || data == 1) {
						alert("저장되었습니다.");
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});

			
		}
		
		function deleteTeamDb(){
			var dbObj = $("#request").serializeObject();

			$.post("/admin/deleteTeamDb", dbObj, function(data) {
				if (data == "0" || data == null) {
					alert("삭제되었습니다.");
				}

			}).done(function() {
				console.log("dbObj : ", dbObj);
				var id = "#db_" + dbObj.seq;
				$.each(dbObj, function(key, value) {
					$(id + " ." + key).text(value);
				});

			}).fail(function() {
				alert("저장이 실패되었습니다.\n다시 시도하세요.");
			});
		}
		
	</script>


</body>
