<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>team</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>
<script th:inline="javascript">
var thisData;
var manager = [[${user_id}]];
var member_list = [[${member_list}]];
var list = [[${list}]];
var team = new Array();
function addNewYn(){
	$("#newYn").val("1");
	document.getElementById("delBtn").style.display ='block';	
}

function addNewYn2(obj){
	$("#newYn").val("0");
	var seq = obj.id.substring(3,6);
	$("#thisSeq").val(seq);
	
	
}

$(document).ready(function(){
	$("#team").addClass('active');
	$("#dbAdmin").removeClass('active');
	$("#user").removeClass('active');
	$("#db-list").removeClass('active');
	$("#this_name").text(manager+"님");
	for(var i=0; i<member_list.length; i++){
		for(var j=0; j<list.length; j++){
			if(team[j] == null || team[j] == ""){
				team[j] = new Array();
			};
			var thisseq = list[j].seq;
			if(member_list[i].team_cd == thisseq){
				team[j].push(member_list[i]);
			}
		}
	}
});

var list = [[${list}]];

</script>
</head>

<body>

<body th:replace="admin/header :: mainHead"> </body>

<div class="container">
		<div class="mt-3 mb-1 text-right">
			<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#detailModal" onclick="addNewYn()">팀등록</button>	
		</div>
		<table id="teamTb" class="table table-hover">
			<thead>
				<tr>
					<th scope="col" class="text-center" >등록번호</th>
					<th scope="col" class="text-center">조직</th>
					<th scope="col" class="text-center" >팀소개</th>
					<input type="hidden" id="newYn"/>
					<input type="hidden" id="thisSeq"/>
				</tr>
			</thead>
			<tbody id="teamTb">
				<tr th:id="db_+${db.seq}" th:each="db, stat: ${list}"
				data-toggle="modal" data-target="#detailModal" onclick="addNewYn2(this)">
					<td class="seq text-center" th:text="${db.getSeq()}">등록번호</td>
					<td class="team_nm text-center" th:text="${db.getTeam_nm()}">조직명</td>
					<td class="team_info" th:text="${db.getTeam_info()}">조직소개</td>
					<input type="hidden" class="team_cd" th:val="${db.getSeq()}"/>
					
					<input type="hidden" id="member_+${db.seq}">
				</tr>
			</tbody>
		</table>

</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">팀 등록/수정</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="request" id="request">
					<div class="modal-body">
						<div class="row">
							<div class="col-3" id="modal_upperSeq">
								<label for="modal_seq">등록번호</label> <input type="text"
									id="modal_seq" name="seq" class="form-control seq" readonly />
							</div>
							<div class="col-5">
								<label for="modal_team_nm">팀명</label> <input type="text"
									id="modal_team_nm" name="team_nm"
									class="form-control team_nm" readonly />
							</div>
						</div>
						<div class="row" >
							<div class="col-12">
								<label for="modal_leader_nm">팀소개</label> <input type="text"
									id="modal_team_info" name="team_info"
									class="form-control team_info" readonly />
							</div>
							
						</div>
						</br>
						<div class="row">
							<div class="col">
							<label for="">팀원목록</label>
							<table id="member_tb" class="table table-hover">
								<thead>
									<tr>
										<th scope="col" class="text-center" >직급</th>
										<th scope="col" class="text-center">이름</th>
										<th scope="col" class="text-center" >연락처</th>

					
									</tr>
								</thead>
								<tbody id="memberTb">

								</tbody>
							</table>
							</div>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="saveDb();">저장</button>
					<button type="button" class="btn btn-primary" id="delBtn" onclick="deleteTeamDb();">삭제</button>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
	$(function() {

	});
	
	function memberSet(){
		var dbObj = e.relatedTarget;
		$.post("/admin/member", dbObj, function(data) {
			thisData = data;
			if (data == "1" || data == 1) {
				
			}
		}).done(function() {

		}).fail(function() {
			alert("오류발생. 조회실패");
		});
	}
	
		$('#detailModal').on('shown.bs.modal', function(e) {
			var id_obj = e.relatedTarget;
			var team_cd = $(id_obj).find(".seq").text();
			console.log("e : ", id_obj);
			var list;
			$.post("/admin/member", {"team_cd": team_cd}, function(data) {
				console.log(data);
				list = data;
			}).done(function() {
				
				var size = list.length;
				var strHtml = "";
				for(var i=0; i<size; i++){
					strHtml += "<tr>";
					strHtml += "<td class='text-center'>"+list[i].grade+"</td>";
					strHtml += "<td class='text-center'>"+list[i].user_nm+"</td>";
					strHtml += "<td class='text-center'>"+list[i].user_tel+"</td>";
					strHtml += "</tr>";
				}
				$("#memberTb").html(strHtml);
			}).fail(function() {
				alert("오류발생. 조회실패");
			});
			
			var newYn = $("#newYn").val();
			
			var seq = $(id_obj).find(".seq").text();
			var team_nm = $(id_obj).find(".team_nm").text();
			var team_info = $(id_obj).find(".team_info").text();
			var tb_length = $("#teamTb tr").length;
			
			$("#delBtn").show();
			$("#modal_upperSeq").show();
			$("#modal_seq").val(seq);
			$("#modal_team_nm").val(team_nm);
			$("#modal_team_info").val(team_info);
			
			$("#modal_team_nm").attr("readonly", false);
			$("#modal_team_info").attr("readonly", false);

			if(newYn == "1"){
				seq = tb_length;
				$("#delBtn").hide();
				$("#modal_upperSeq").hide();
			}
			
		}); 
		
		
		
		function saveDb() {
			var dbObj = $("#request").serializeObject();
			var newYn = $("#newYn").val();
			if(newYn == "0"){
				$.post("/admin/updateTeamDb", dbObj, function(data) {
					if (data == "1" || data == 1) {
						alert("저장되었습니다.");
						location.reload();
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});
			}else if(newYn == "1"){
				$.post("/admin/insertTeamDb", dbObj, function(data) {
					if (data == "1" || data == 1) {
						alert("저장되었습니다.");
						location.reload();
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});

			}
			
		}
		
		
		function deleteTeamDb(){
			var dbObj = $("#request").serializeObject();

			$.post("/admin/deleteTeamDb", dbObj, function(data) {
					alert("삭제되었습니다.");
					location.reload();	
			}).done(function() {
				console.log("dbObj : ", dbObj);
				var id = "#db_" + dbObj.seq;
				$.each(dbObj, function(key, value) {
					$(id + " ." + key).text(value);
				});

			}).fail(function() {
				alert("삭제가 실패되었습니다.\n다시 시도하세요.");
			});
		}
		
	</script>


</body>
