<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>user</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.twbsPagination.js"></script>

<script type="text/javascript"
	src="/jslib/jquery/jquery.serializeObject.min.js"></script>

<script type="text/javascript" src="/js/commonCode.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<script th:inline="javascript">
    var TEAM_LIST = [[${team_list}]];
    var this_manager = [[${this_manager}]];
</script>

<script>
$(document).ready(function(){
	createSelectOption(TEAM_LIST, "modal_team_nm", "seq", "team_nm");
	createSelectOption(GRADE, "modal_grade", "code", "code_nm");
	$("#user").addClass('active');
	$("#dbAdmin").removeClass('active');
	$("#team").removeClass('active');
	$("#db-list").removeClass('active');
	$("#this_name").text(this_manager+"님");
});






</script>
</head>

<body>
<body th:replace="admin/header :: mainHead"> </body>
<div class="container">
	<div class="text-right mb-1 mt-3">
		<button type="button" class="btn btn-primary pull-right" id="addBtn" data-toggle="modal" data-target="#detailModal" onclick="addNewYn()">사용자등록</button>		
	</div>
		<table class="table table-hover table-condensed" id="userTb" >
			<thead class="thead-light">
				<tr>
					<th scope="col" class="text-center" >등록번호</th>
					<th scope="col" >아이디</th>
					<th scope="col" >이름</th>
					<th scope="col" >등급</th>
					<th scope="col" >팀명</th>
					<input type="hidden" id="newYn"/>
				</tr>
			</thead>
			<tbody >
				<tr th:id="db_+${db.seq}" th:each="db, stat: ${list}"
				data-toggle="modal" data-target="#detailModal" onclick="addNewYn2()">
					<td class="seq text-center" th:text="${db.getSeq()}">등록번호</td>
					<td class="user_id" th:text="${db.getUser_id()}">아이디</td>
					<td class="user_nm" th:text="${db.getUser_nm()}">이름</td>
					<td class="grade"  th:text="${db.getGrade_nm()}">등급</td>
					<td class="team_nm" th:text="${db.getTeam_nm()}">소속</td>
					<input type="hidden" th:value="${db.getGrade()}" class="grade"/>
					<input type="hidden" th:value="${db.getTeam_cd()}" class="team_cd"/>
				</tr>
			</tbody>
		</table>

</div>
<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">사용자 추가/수정</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="request" id="request">
					<div class="modal-body">
						<div class="row">
							<div class="col-4">
								<label for="modal_seq">등록번호</label> <input type="text"
									id="modal_seq" name="seq" class="form-control seq" readonly />
							</div>
							<div id = "user_id" class="col-4">
								<label for="modal_user_id">아이디</label> <input type="text"
									id="modal_user_id" name="user_id"
									class="form-control user_id" readonly />
							</div>
							<div class="col-4">
								<label for="modal_user_nm">이름</label> <input type="text"
									id="modal_user_nm" name="user_nm"
									class="form-control user_nm" readonly />
							</div>
							
						</div>
						</br>
						<div class="row">
							<div class="col-4">
								<label for="modal_grade">등급</label> 
								<select id="modal_grade" name="grade" class="form-control">
								</select>
							</div>
							<div class="col-4">
								<label for="modal_team_nm">소속</label> 
								<select id="modal_team_nm" name="team_nm" class="form-control"></select>
							</div>
							
							<div class="col-4">
								<label for="modal_password">패스워드</label> <input type="text"
									id="modal_password" name="password"
									class="form-control password" readonly />
							</div>

						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="saveDb();">저장</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		
		$(function() {
//			var id_obj1 = $("#request").serializeObject();
//			if(grade != 2 && grade != 3){
//				document.getElementById("addBtn").style.display ='block';				
//			}
		
		});

		$(document).ready(function(){
			let grade = $("#userTb tr .grade");
			console.log("grade : ", grade);
			/*grade.each((i, v) => {
				
				v.text(GRADE[v.text()]);
			});*/
		});

		$('#detailModal').on('shown.bs.modal', function(e) {
			var newYn = $("#newYn").val();
			var id_obj = e.relatedTarget;
			var seq = $(id_obj).find(".seq").text();
			var user_nm = $(id_obj).find(".user_nm").text();
			var user_id = $(id_obj).find(".user_id").text();
			var grade = $(id_obj).find(".grade").val();
			var team_nm = $(id_obj).find(".team_cd").val();
			var password = $(id_obj).find(".password").text();
			var tb_length = $("#userTb tr").length;
			if(newYn == "1"){
				seq = tb_length;
			}
			$("#modal_team_nm").val(team_nm);
			$("#modal_grade").val(grade);
			$("#modal_seq").val(seq);
			$("#modal_user_nm").val(user_nm);
			$("#modal_user_id").val(user_id);
			if(newYn == "1"){
				$("#modal_password").val("");
				
			}else{$("#modal_password").val("********");}
			$("#modal_user_nm").attr("readonly", false);
			$("#modal_password").attr("readonly", false);
			$("#modal_grade").attr("readonly", false);
			$("#modal_team_nm").attr("readonly", false);
			

		}); 
		

		function addNewYn(){
			$("#newYn").val("1");
			$("#modal_user_id").attr("readonly", false);
			$("#modal_team_nm").val('');
		}
		
		function addNewYn2(){
			$("#newYn").val("0");
		}
		
		function saveDb() {
			if($("#modal_password").val() == "********"){
				$("#modal_password").val('');
			};
			var dbObj = $("#request").serializeObject();
			var newYn = $("#newYn").val();
			if(newYn == "0"){
				$.post("/admin/updateUserDb", dbObj, function(data) {
					if (data == "1" || data == 1) {
						alert("저장되었습니다.");
						location.reload();
						
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});
			}else if(newYn == "1"){
				var dbObj = $("#request").serializeObject();
				
				$.post("/admin/insertUserDb", dbObj, function(data) {
					if (data == "1" || data == 1) {
						alert("저장되었습니다.");
						location.reload();
					}
				}).done(function() {
					console.log("dbObj : ", dbObj);
					var id = "#db_" + dbObj.seq;
					$.each(dbObj, function(key, value) {
						$(id + " ." + key).text(value);
					});
				}).fail(function() {
					alert("저장이 실패되었습니다.\n다시 시도하세요.");
				});
				
				
			}
			
		}
		
	</script>

</body>
