<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Consult</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap-theme.min.css"
	rel="stylesheet" />
<link href="/jslib/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
<style>
.form-consult{width:100%;}
input[type=text]{width:100%; border:1px solid #db8da5 !important; border-radius:3px; padding: 3px 10px;}

.btn_consult{padding:30px 0; border:1px solid #db8da5; border-radius:3px; background: #d10f4a; text-align:center; color:#fae20c; font-size:1.2em;}
</style>
</head>

<body>
	<div class="container" style="width:900px">
		<div class="">
			<img width="100%" src="/images/woori1.jpg" />			
		</div>
		<form>
			<div class="req_consult">
				<div class="input_request">
					<div class="mb-3"><img width="100%" src="/images/txt.jpg" /></div>
					<table class="form-consult">
						<tr>
						<td width="15%"><img src="/images/label1.jpg" /></td>
						<td width="45%"><input type="text" class="input-text" id="cust_nm" placeholder="성명을 입력해주세요" /></td>
						<td width="40%" rowspan="2"  style="padding:9px;">
							<div class="btn_consult" id="send_db">
								무료상담신청
							</div>
						</td>
						</tr>
						<tr>
						<td><img src="/images/label2.jpg" /></td>
						<td><input type="text" class="input-text" id="cust_tel" placeholder="연락처 입력해주세요" /></td>
						</tr>					
					</table>
				</div>
			</div>
		</form>
		<div class="">
			<img width="100%" src="/images/woori2.jpg" />
		</div>	
		<form>
			<div class="req_consult">
				<div class="input_request">
					<div class="mb-3"><img width="100%" src="/images/txt.jpg" /></div>
					<table class="form-consult">
						<tr>
						<td width="15%"><img src="/images/label1.jpg" /></td>
						<td width="45%"><input type="text" class="input-text" id="cust_nm2" placeholder="성명을 입력해주세요" /></td>
						<td width="40%" rowspan="2"  style="padding:9px;">
							<div class="btn_consult" id="send_db2">
								무료상담신청
							</div>
						</td>
						</tr>
						<tr>
						<td><img src="/images/label2.jpg" /></td>
						<td><input type="text" class="input-text" id="cust_tel2" placeholder="연락처 입력해주세요" /></td>
						</tr>					
					</table>
				</div>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript">
$(document).ready(function(){
	$("#send_db").click(function(){
		send();
	});
	$("#send_db2").click(function(){
		send2();
	});
});

function send(){
	
	var db = {};
	if($("#cust_nm").val() != "") db.cust_nm = $("#cust_nm").val();
	else {
		alert("성명을 입력해주세요");
		return;
	}
	if($("#cust_tel").val() != "") db.cust_tel = $("#cust_tel").val();
	else {
		alert("연락처를 입력해주세요");
		return;
	}
	
	sendDb(db);
}

function send2(){
	
	var db = {};
	if($("#cust_nm2").val() != "") db.cust_nm = $("#cust_nm2").val();
	else {
		alert("성명을 입력해주세요");
		return;
	}
	if($("#cust_tel2").val() != "") db.cust_tel = $("#cust_tel2").val();
	else {
		alert("연락처를 입력해주세요");
		return;
	}
	
	sendDb(db);
}

function sendDb(db){
	db.site = getParam('site');

	$.post("/insertDb", db, function(data){
		alert("신청이 완료되었습니다");
		$("#cust_nm").val("");
		$("#cust_tel").val("");
		$("#comment").val("");

	}).fail(function(){
		alert("실패");
	});
}


function getParam(sname) {
    var params = location.search.substr(location.search.indexOf("?") + 1);
    var sval = "";
    params = params.split("&");
    for (var i = 0; i < params.length; i++) {
        temp = params[i].split("=");
        if ([temp[0]] == sname) { sval = temp[1]; }
    }
    return sval;

}
</script>
</html>
