<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Consult</title>
<link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/jslib/bootstrap/css/bootstrap-theme.min.css"
	rel="stylesheet" />
<link href="/jslib/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<script type="text/javascript" src="/jslib/jquery/jquery.min.js"></script>
</head>

<body>

	<div class="container" style="width:900px">
		<div class="mb-3">
			<img width="100%" src="http://kingforce.co.kr/web/upload/NNEditor/20190326/ED82B9ED8FACEC8AA4-EC8381EC84B8ED8E98EC9DB4ECA780_EC9CA0ED86B5EAB8B0ED959C.jpg" />
		</div>
		<form>
			<div class="form-group">
				<label for="exampleFormControlInput1">성명</label> <input type="text"
					class="form-control" id="cust_nm"
					placeholder="성명을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">연락처</label> <input type="text"
					class="form-control" id="cust_tel"
					placeholder="연락처를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">문의사항</label>
				<textarea class="form-control" id="comment"
					rows="3" placeholder="궁금하신 사항을 입력해주세요"></textarea>
			</div>
			<button type="button" class="btn btn-secondary btn-lg btn-block" id="send_db">신청하기</button>
		</form>
	</div>
</body>

<script type="text/javascript">
$(document).ready(function(){
	$("#send_db").click(function(){
		send();
	});
});

function send(){
	
	var db = {};
	if($("#cust_nm").val() != "") db.cust_nm = $("#cust_nm").val();
	else {
		alert("성명을 입력해주세요");
		return;
	}
	if($("#cust_tel").val() != "") db.cust_tel = $("#cust_tel").val();
	else {
		alert("연락처를 입력해주세요");
		return;
	}
	db.comment = $("#comment").val();
	db.site = getParam('site');
	
	$.post("/insertDb", db, function(data){
		alert("신청이 완료되었습니다");
		$("#cust_nm").val("");
		$("#cust_tel").val("");
		$("#comment").val("");

	}).fail(function(){
		alert("실패");
	});	
}

function getParam(sname) {
    var params = location.search.substr(location.search.indexOf("?") + 1);
    var sval = "";
    params = params.split("&");
    for (var i = 0; i < params.length; i++) {
        temp = params[i].split("=");
        if ([temp[0]] == sname) { sval = temp[1]; }
    }
    return sval;

}
</script>
</html>
