<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iiiset.fm.dao.AdminDao">

	

	<insert id="insertDb" parameterType="com.iiiset.fm.model.DbVO">
		INSERT INTO db_data
		(cust_nm,cust_tel,comment,reg_date,mod_date)
		VALUES
		(#{cust_nm},#{cust_tel},#{comment},now(),now())
	</insert>
	
	<select id="selectDb" parameterType="com.iiiset.fm.model.DbVO" resultType="com.iiiset.fm.model.DbVO">
		SELECT * FROM db_data ORDER BY seq DESC LIMIT ${page_size} OFFSET ${page_scope}
	</select>

	<select id="countDb" parameterType="com.iiiset.fm.model.DbVO" resultType="java.lang.Integer">
		SELECT COUNT(seq) FROM db_data
	</select>
	
	<update id="updateDb" parameterType="com.iiiset.fm.model.DbVO">
		UPDATE 
			db_data SET 
				cust_tel = #{cust_tel},
				comment = #{comment},
				gender = #{gender},
				age = #{age},
				memo = #{memo},
				addr = #{addr},
				order_cnt = #{order_cnt},
				order_amount = #{order_amount},
				order_date = #{order_date},
				bank_account = #{bank_account},
				card_number = #{card_number},
				expire_date = #{expire_date},
				manager = #{manager},
				following_date = #{following_date},
				mod_date = sysdate
			WHERE seq = #{seq}
	</update>

</mapper>