<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iiiset.fm.dao.AdminDao">



	<insert id="insertDb" parameterType="com.iiiset.fm.model.DbVO">
		INSERT INTO db_data
		(cust_nm,cust_tel,comment,site,gd_cd, reg_date,mod_date)
		VALUES
		(#{cust_nm},#{cust_tel},#{comment},#{site},#{gd_cd},now(),now())
	</insert>

	<delete id="deleteDb" parameterType="com.iiiset.fm.model.DbVO">
		DELETE FROM db_data 
		WHERE cust_nm = #{cust_nm}
		  AND seq = #{seq}
	</delete>
	
	<select id="selectDb" parameterType="com.iiiset.fm.model.DbVO"
		resultType="com.iiiset.fm.model.DbVO">
		SELECT seq
		,seq AS rlseq
		,cust_nm
		,cust_tel
		,comment
		,gender
		,age
		,memo
		,addr
		,order_cnt
		,order_amount
		,order_date
		,expire_date
		,manager
		,(SELECT user_nm FROM db_data A, user B WHERE A.manager = B.user_id AND A.seq = rlseq) AS manager_nm
		,following_date
		,site
		,reg_date
		,mod_date
		,CASE
				WHEN gd_cd = '001' THEN '탑스핏'
				ELSE ''
		 END 	AS gd_cd
		,CASE 
				WHEN gd_buyType = '01' THEN '접수' 
				WHEN gd_buyType = '02' THEN '부재'
				WHEN gd_buyType = '03' THEN '보류'
				WHEN gd_buyType = '04' THEN '구매완료'
				WHEN gd_buyType = '05' THEN '재구매'
				ELSE '접수'
		 END	AS gd_buyType
		,(SELECT ((SELECT sum(inp_cnt) FROM goods_dt WHERE gdcd='001') - (SELECT sum(order_cnt) FROM db_data WHERE gd_cd='001' AND gd_buyType='04')) AS '재고'
		  FROM dual) AS cnt_sum
		,nvl(call_succRate,"0") AS call_succRate
		,nvl(call_cnt,"0") AS call_cnt
		FROM db_data
		<where>
			<if test = "adminYn == 0">
				<choose>
					<when test="grade == '01'">
						AND manager = #{manager}
					</when>
					<when test="grade == '05'">
						AND manager IN (SELECT user_nm FROM user WHERE team_cd = ${team_cd})
					</when>
					<when test="grade == '10' || grade == '99'">
				
					</when>
					<otherwise>
						AND manager = ''
					</otherwise>
				</choose>
			</if>
			<if test="srh_sta_date != null and srh_sta_date != '' ">
				AND reg_date > STR_TO_DATE(#{srh_sta_date}, '%Y%m%d')
			</if>
			<if test="srh_end_date != null and srh_end_date != '' ">
				AND reg_date &lt; STR_TO_DATE(#{srh_end_date}, '%Y%m%d')
			</if>
			<if test="srh_key != null and srh_key != '' ">
				AND (
				cust_nm like '%${srh_key}%'
				OR cust_tel like '%${srh_key}%'
				OR comment like '%${srh_key}%'
				OR manager like '%${srh_key}%'
				OR site like '%${srh_key}%'
				
				)
			</if>
		</where>
		<if test="page_size > 0 and adminYn == 0">
		ORDER BY seq DESC
		LIMIT ${page_size} OFFSET ${page_scope}
		</if>
	</select>
	

	<select id="selectUserDb" parameterType="com.iiiset.fm.model.UserVO"
		resultType="com.iiiset.fm.model.UserVO">
		SELECT a.seq
		, a.user_id AS user_id
		, a.password AS password
		, a.grade
		, CASE
			WHEN a.grade = '01' THEN '팀원'
			WHEN a.grade = '05' THEN '팀장'
			WHEN a.grade = '10' THEN '관리자'
			WHEN a.grade = '11' THEN 'DB업체'
			WHEN a.grade = '99' THEN '슈퍼바이저'
		  END AS grade_nm
        ,b.team_nm AS team_nm
        ,a.team_cd AS team_cd
        , a.user_tel
		, a.user_nm AS user_nm 
		FROM user as a
        LEFT JOIN team as b
        ON a.team_cd = b.seq
		ORDER BY seq DESC
	</select>
	
	<select id="selectOrderCnt" parameterType="com.iiiset.fm.model.DbVO"
		resultType="com.iiiset.fm.model.DbVO">
		SELECT    DATE_FORMAT(reg_date,'%Y-%m-%d') term
				, sum(order_cnt) AS cnt_sum 
		FROM 	  db_data
		GROUP BY  term
	</select>
	
	
	<select id="selectTeamDb" parameterType="com.iiiset.fm.model.TeamVO"
		resultType="com.iiiset.fm.model.TeamVO">
		SELECT * FROM team
		ORDER BY seq DESC
	</select>
	
	<select id="selectMember" parameterType="com.iiiset.fm.model.UserVO"
		resultType="com.iiiset.fm.model.UserVO">
		SELECT seq,
			   user_nm,
			   user_tel,
			   CASE
					WHEN grade = '01' THEN '팀원'
					WHEN grade = '05' THEN '팀장'
					WHEN grade = '10' THEN '관리자'
					WHEN grade = '11' THEN 'DB업체'
					WHEN grade = '99' THEN '슈퍼바이저'
		  	   END AS grade
		FROM   user
		WHERE  team_cd = #{team_cd}
		ORDER BY seq DESC
	</select>
	
	<select id="selectGoods" parameterType="com.iiiset.fm.model.GoodsVO"
		resultType="com.iiiset.fm.model.GoodsVO">
		SELECT    gdcd
			    , ((SELECT sum(inp_cnt) FROM goods_dt WHERE gdcd='001') - (SELECT sum(order_cnt) FROM db_data WHERE gd_cd='001' AND gd_buyType='04'))  AS cnt_sum
			    , gdnm 
		FROM	  goods
		ORDER BY  gdcd ASC
	</select>
	
	<select id="selectGoodsDt" parameterType="com.iiiset.fm.model.GoodsVO"
		resultType="com.iiiset.fm.model.GoodsVO">
		SELECT    reg_date
				, inp_cnt
				, gd_memo
				, seq
		FROM	  goods_Dt
		WHERE 	  gdcd = #{gdcd}
		ORDER BY  seq DESC
	</select>
	
	<select id="selectTeam_cd"
		parameterType="com.iiiset.fm.model.UserVO"
		resultType="java.lang.Integer">
		SELECT seq FROM team WHERE seq = #{team_nm}
	</select>
	
	<select id="selectCnt"
		parameterType="com.iiiset.fm.model.DbVO"
		resultType="java.lang.Integer">
		SELECT ((SELECT (
							(SELECT sum(inp_cnt) FROM goods_dt WHERE gdcd='001') - (SELECT sum(order_cnt) FROM db_data WHERE gd_cd='001' AND gd_buyType='04'))
				 FROM DUAL) - #{order_cnt}) AS cnt_sum
		FROM   DUAL
	</select>
	
	<select id="selectCntRank"
		parameterType="com.iiiset.fm.model.DbVO"
		resultType="com.iiiset.fm.model.DbVO">
	SELECT  a.* 
    FROM    (SELECT 
						(SELECT user_nm FROM user c WHERE c.user_id = a.manager) 			 AS manager
			  		  , (SELECT SUM(order_cnt) AS order_cnt 
			 			 FROM   db_data b
			 			 <where>
			 			 		b.manager = a.manager
			 			 AND 	b.gd_buyType IN ("04","05")
			 			 
							<if test="first_value != null and first_value != '' and first_value != '전체'">
			 				AND    b.manager IS NOT NULL
							</if>
							<if test="srh_sta_date != null and srh_sta_date != ''">
			 				AND	   b.reg_date > STR_TO_DATE(#{srh_sta_date}, '%Y%m%d')
			 				</if>
			 				<if test="srh_end_date != null and srh_end_date != ''">
			 				AND    b.reg_date &lt; STR_TO_DATE(#{srh_end_date}, '%Y%m%d')
			 				</if>
 						</where>) 						 		 AS order_cnt
			 
			 FROM        db_data a
			 WHERE 		 a.manager IS NOT NULL
             GROUP BY a.manager
             ORDER BY order_cnt DESC) a
    

	</select>
	
	<select id="selectAmtRank"
		parameterType="com.iiiset.fm.model.DbVO"
		resultType="com.iiiset.fm.model.DbVO">
	SELECT  a.* 
    FROM    (SELECT 
						(SELECT user_nm FROM user c WHERE c.user_id = a.manager) 			 AS manager
			  		  , (SELECT SUM(order_amount) AS order_amount
			 			 FROM   db_data b
			 			 <where>
			 			 	    b.manager = a.manager
			 			 AND 	b.gd_buyType IN ("04","05")
			 			 
							<if test="first_value != null and first_value != '' and first_value != '전체'">
			 				AND    b.manager IS NOT NULL
							</if>
							<if test="srh_sta_date != null and srh_sta_date != ''">
			 				AND	   a.reg_date > STR_TO_DATE(#{srh_sta_date}, '%Y%m%d')
			 				</if>
			 				<if test="srh_end_date != null and srh_end_date != ''">
			 				AND    a.reg_date &lt; STR_TO_DATE(#{srh_end_date}, '%Y%m%d')
			 				</if>
 						</where>) 						 		 AS order_amount
			 FROM        db_data a
			 WHERE 		 a.manager IS NOT NULL
             GROUP BY a.manager
             ORDER BY order_amount DESC) a
    
	
	</select>
	
	<select id="selectCallRank"
		parameterType="com.iiiset.fm.model.DbVO"
		resultType="com.iiiset.fm.model.DbVO">
	SELECT  a.* 
    FROM    (SELECT 
						(SELECT user_nm FROM user c WHERE c.user_id = a.manager) 			 AS manager
			  		  , (SELECT SUM(call_cnt) AS call_cnt 
			 			 FROM   db_data b
			 			 <where>  
			 			 		b.manager = a.manager
			 			 AND 	b.gd_buyType IN ("04","05")
			 			 
							<if test="first_value != null and first_value != '' and first_value != '전체'">
			 				AND    b.manager IS NOT NULL
							</if>
							<if test="srh_sta_date != null and srh_sta_date != ''">
			 				AND	   a.reg_date > STR_TO_DATE(#{srh_sta_date}, '%Y%m%d')
			 				</if>
			 				<if test="srh_end_date != null and srh_end_date != ''">
			 				AND    a.reg_date &lt; STR_TO_DATE(#{srh_end_date}, '%Y%m%d')
			 				</if>
 						</where>) 						 		 AS call_cnt
			 FROM        db_data a
			 WHERE 		 a.manager IS NOT NULL
             GROUP BY a.manager
             ORDER BY call_cnt DESC) a
    
	</select>
	
	<select id="countDb" parameterType="com.iiiset.fm.model.DbVO"
		resultType="java.lang.Integer">
		SELECT COUNT(seq) FROM db_data
		<where>
			<if test="srh_sta_date != null and srh_sta_date != '' ">
				AND reg_date > STR_TO_DATE(#{srh_sta_date}, '%Y%m%d')
			</if>
			<if test="srh_end_date != null and srh_end_date != '' ">
				AND reg_date &lt; STR_TO_DATE(#{srh_end_date}, '%Y%m%d')
			</if>
			<if test="srh_key != null and srh_key != '' ">
				AND (
				cust_nm like '%${srh_key}%'
				OR cust_tel like '%${srh_key}%'
				OR comment like '%${srh_key}%'
				OR manager like '%${srh_key}%'
				OR site like '%${srh_key}%'
				
				)
			</if>
		</where>
	</select>

	<update id="updateDb" parameterType="com.iiiset.fm.model.DbVO">
		UPDATE db_data 
		SET
			  cust_tel = #{cust_tel}
			 ,comment = #{comment}
			 ,gender = #{gender}
			 ,age = #{age}
			 ,memo = #{memo}
			 ,addr = #{addr}
			 ,order_cnt = #{order_cnt}
			 ,order_amount = #{order_amount}
			 ,order_date = #{order_date}
			 ,bank_account = #{bank_account}
			 ,card_number = #{card_number}
			 ,expire_date = #{expire_date}
			 ,manager = #{manager}
			 ,following_date = #{following_date}
			 <!-- ,gd_cd = CASE #{gd_cd} = '탑스핏' THEN '001' ELSE gd_cd END -->
			 ,mod_date = now()
		WHERE seq = #{seq}
	</update>
	
	<update id="updateTeamDb" parameterType="com.iiiset.fm.model.TeamVO">
		UPDATE
		team SET
		team_nm = #{team_nm},
		team_info = #{team_info}
		WHERE seq = #{seq}
	</update>
	
	<insert id="insertTeamDb" parameterType="com.iiiset.fm.model.TeamVO">
		INSERT INTO team
		(team_nm, team_info)
		VALUES
		(#{team_nm}, #{team_info})
	</insert>
	
	<delete id="deleteTeamDb" parameterType="com.iiiset.fm.model.TeamVO">
		DELETE FROM team
		WHERE team_nm = #{team_nm}
	</delete>
	
	<update id="updateGoodsDb" parameterType="com.iiiset.fm.model.GoodsVO">
		UPDATE goods_dt 
		SET
				inp_cnt = #{inp_cnt}
		      , mod_date = now()
		      , mod_id = #{mod_id}
		      , gd_memo = #{gd_memo}
		WHERE   seq = #{seq}
	</update>
	
	<insert id="insertGoodsDb" parameterType="com.iiiset.fm.model.GoodsVO">
		INSERT INTO goods_dt
		(inp_cnt, gdcd, reg_date, reg_id, gd_memo)
		VALUES
		(#{inp_cnt}, #{gdcd}, now(), #{mod_id}, #{gd_memo})
	</insert>
	
	<delete id="deleteGoodsDb" parameterType="com.iiiset.fm.model.GoodsVO">
		DELETE FROM goods_dt
		WHERE seq = #{seq}
	</delete>
	
	<update id="updateUserDb" parameterType="com.iiiset.fm.model.UserVO">
		UPDATE user A 
		SET	A.user_nm = #{user_nm}
		,A.grade = #{grade}
		,A.team_cd = #{team_nm}
		<if test= "password != null ">
		,A.password = #{password}
		</if>
		WHERE seq = #{seq}
	</update>
	
	<insert id="insertUserDb" parameterType="com.iiiset.fm.model.UserVO">
		INSERT INTO user 
		(user_nm, grade, team_cd, user_id, password)
		VALUES
		(#{user_nm},#{grade},#{team_nm},#{user_id}, #{password})
	</insert>
	
	<select id="loginCheck"
		parameterType="com.iiiset.fm.model.UserVO"
		resultType="com.iiiset.fm.model.UserVO">
		SELECT * FROM user WHERE user_id = #{user_id} AND
		password = #{password}
	</select>


</mapper>